#addExpenseButton{
    background: #2A2658;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    display: inline-block;
    transition: .3s ease-in-out;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
}

#addExpenseButton:hover{

    background: fade-in(#fff, 0);
    color: black;
    transform: scale(0.8);

}