.boxLayout {
    background: url('/images/bgr.jpg');
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.boxLayout-box{
    background: fade-out(black, .6);
    border-radius: 23px;
    padding: $l-size $m-size;
    text-align: center;
    margin: 100px 0;
    width: 25rem;
    color: floralwhite;
}

.boxLayout-title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}


