footer{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.copyright{
    font-size:15px;
    margin-bottom: 20px;
    align-self: center;
    
}
.copyright a{
    text-decoration: none;
    font-size: 16px;
    color:#48dbfb;
    font-weight: 500;
}
.sm a{
    
    color: white;
    justify-content: space-between;
    margin: 0 40px 50px 0 ;
    transition:  .2s linear;
    text-decoration: none;
}
.sm a:hover{
    color: #48dbfb;
}