.pageHeader{
    background: #EEEEEE;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top: $dark-blue solid 2px;
    border-bottom: $dark-blue solid 2px;
    color: $dark-blue;
    //margin-bottom: $l-size;
    padding: $l-size 0;
}

.pageHeader-actions{
    margin-top: $m-size;
}

.pageHeader-title{
    font-weight: 300;
    margin: 0;
    .boldContent{
        font-weight: bold;
    }
    .headerContent{
        margin-left: 750px;
    }
}