.textInput{
    background: transparent;
    margin: $s-size $l-size;
    color: white;
    border: 1px solid #2E3746;
    border-bottom: 2px solid blanchedalmond;
    border-radius: 6px;
    height: 35px;
    font-size: $fontSize-large;
    font-weight: 300;
    padding: $s-size;
}

.select{
    background: transparent;
    background-color: $dark-blue;
    border:none;
    margin: $s-size $l-size;
    height: 35px;
    color: white;
}
